<div *ngIf="hero">
    <h2>{{hero.name}}</h2>
    <div>
        Name:
        <input [(ngModel)]="hero.name" placeholder="Name">
    </div>
    <div>
        First name:
        <input [(ngModel)]="hero.firstName" placeholder="First name">
    </div>
    <div>
        Last name:
        <input [(ngModel)]="hero.lastName" placeholder="Last name">
    </div>
    <div>
        Place:
        <input [(ngModel)]="hero.place" placeholder="Place">
    </div>
    <button (click)="createHero(hero)" *ngIf="!hero.id">Create</button>
    <button (click)="deleteHero(hero)" *ngIf="hero.id">Delete</button>
    <button (click)="updateHero(hero)" *ngIf="hero.id">Update</button>
</div>