<div *ngIf="hero">
    <h2>{{hero.name}}</h2>
    <div>       
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="hero.name">
        </mat-form-field>
    </div>
    <div>       
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="hero.firstName">
        </mat-form-field>
    </div>
    <div>       
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="hero.lastName">
        </mat-form-field>
    </div>
    <div>       
        <mat-form-field class="example-full-width">
            <mat-label>Place</mat-label>
            <input [(ngModel)]="hero.place">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="createHero(hero)" *ngIf="!hero.id">Create</button>
    <button type="button" class="btn btn-danger" (click)="deleteHero(hero)" *ngIf="hero.id">Delete</button>
    <button type="button" class="btn btn-success" (click)="updateHero(hero)" *ngIf="hero.id">Update</button>
</div>